.hmenu {
  ul {
    list-style: none;
    li {
      list-style: none;
      ul {
        display: none; } }
    position: relative;
    padding: 0;
    margin: 0; }
  .sub {
    display: none;
    ul {
      display: block; } } }

.red {
  font: normal 13px Arial, sans-serif;
  line-height: 16px;
  ul.hmenu {
    margin: 0;
    padding: 0;
    border: none;
    li {
      margin: 0;
      padding: 0;
      border: none;
      float: left;
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
      a {
        float: left;
        display: block;
        color: #fff;
        padding: 12px 38px 12px 25px;
        background: url(images/bg_red.png) repeat-x 100% 0;
        text-shadow: 1px 1px 1px #000;
        text-decoration: none;
        &.dc-mega {
          position: relative; }
        .dc-mega-icon {
          display: block;
          position: absolute;
          top: 18px;
          right: 15px;
          width: 8px;
          height: 6px;
          background: url(images/arrow.png) no-repeat 0 0; } }
      &.mega-hover a, a:hover {
        background-position: 100% -40px;
        color: #000;
        text-shadow: none; }
      &.mega-hover a .dc-mega-icon {
        background-position: 0 100%; }
      .sub-container {
        position: absolute;
        background: url(images/bg_sub_left.png) no-repeat 0 100%;
        padding-left: 20px;
        margin-left: -3px; }
      .sub {
        background: url(images/bg_sub.png) no-repeat 100% 100%;
        padding: 20px 20px 20px 10px; }
      .sub-container.mega .sub {
        padding: 20px 20px 10px 0; }
      .sub {
        .row {
          width: 100%;
          overflow: hidden;
          clear: both; }
        li {
          list-style: none;
          float: none;
          width: 170px;
          font-size: 1em;
          font-weight: normal;
          &.hmenu-hdr {
            margin: 0 10px 10px 0;
            float: left;
            &.last {
              margin-right: 0; } } }
        a {
          background: none;
          border: none;
          text-shadow: none;
          color: #111;
          padding: 7px 10px;
          display: block;
          float: none;
          text-decoration: none;
          font-size: 0.9em; }
        li.hmenu-hdr a.hmenu-hdr-a {
          padding: 5px 5px 5px 15px;
          margin-bottom: 5px;
          background: #db323a url(images/bg_mega_hdr.png) no-repeat 0 0;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          text-shadow: 1px 1px 1px #333;
          &:hover {
            color: #000;
            text-shadow: none; } } } }
    background: #8998a8 url(images/bg_red.png) repeat-x 0 -80px;
    width: 100%;
    height: 40px;
    border-right: 1px solid #E41E1F;
    border-left: 1px solid #E41E1F;
    position: relative;
    .sub {
      li.hmenu-hdr li a {
        padding: 4px 5px 4px 20px;
        background: url(images/arrow_off.png) no-repeat 5px 8px;
        font-weight: normal;
        &:hover {
          color: #a32403;
          background: #efefef url(images/arrow_on.png) no-repeat 5px 8px; } }
      ul li {
        padding-right: 0; } }
    li .sub-container.non-mega {
      .sub {
        padding: 20px 20px 20px 0; }
      li {
        padding: 0;
        width: 190px;
        margin: 0;
        a {
          padding: 7px 5px 7px 22px;
          background: url(images/arrow_off.png) no-repeat 7px 10px;
          &:hover {
            color: #a32403;
            background: #efefef url(images/arrow_on.png) no-repeat 7px 10px; } } } } } }