.dummy_content_margin
	%h2 Mega Menu Reloaded
	%p
		This
		%strong Mega Menu
		comes with awesome options and is the most complete solution to build mega menus. It also works without javascript and when disabled most of the content remains accessible. Colors are easy to change and you have 2 awesome tools that can help you :
		%a{:href => "http://www.colourlovers.com/"} Colour Lovers
		to find colors and
		%a{:href => "http://0to255.com/facade"} 0to255
		for different tones of a given color.
	%p The menu can work on mouse click or mouse hover and has easy options to set up. Optionnal features can be safely removed : the inner tabs, the contact form or the menu items scroller as well as scrollbars. Getting rid of them will not affect the main functionality of the menu.
	%p The contact form doesn't need any PHP knowledge, you only have to add your email address as specified in the documentation. All feedback messages appearing when sending an email can be translated in the source code and are easy to modify. This contact form is quite simple and can be replaced by another product that has more options.
	%p This is a demonstration page and upon purchase you'll get HTML pages with clean indented markup. Integrating and customizing this menu requires at least a basic knowledge of HTML and CSS, this is not a plugin ready to be uploaded to your Wordpress or Joomla site. All modifications have to be done in the source code.
	%h3 Features
	%ul
		%li Menu bar scroller
		%li Internal scrollbars (for large drop downs with a lot of content)
		%li Inner tabs to include more content
		%li Column grid system (up to 12 columns)
		%li Relies mainly on CSS, improved with some javascript
		%li Clean and attractive design
		%li 100% valid HTML/CSS markup
		%li Uses some CSS3 magic
		%li Comes with a fully working AJAX contact form
		%li Cross-browser tested
	%p
		It has been tested with all the major browsers and degrades gracefully down to IE6. All tests have been done with native applications running under a virtual machine to get accurate results. Please keep in mind that some CSS3 features don't work with old browsers like rounded corners. For more informations, please visit
		= succeed "." do
			%a{:href => "http://findmebyip.com/litmus/"} findmebyIP
	%h3 Compatible Browsers
	%ul
		%li Internet Explorer 6+
		%li Firefox 2+
		%li Chrome 4+
		%li Safari 4+
		%li Opera 11+
	%p
		%strong Notice
		\: IE6 requires an additional script that improves its compatibility with some basic CSS properties. You'll find more informations
		= succeed "." do
			%a{:href => "http://code.google.com/p/ie7-js/"} here
	%h3 Credit Photos
	%p
		Photos by
		%a{:href => "http://www.flickr.com/photos/markjsebastian/"} Mark Sebastian
	%ul
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/2420247862/in/photostream"} Old Dusty Radio (#48791)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/2433403926/in/photostream"} _MG_49220
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3137728868/in/photostream"} Silent Night (#71772)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/5101510772/in/photostream"} _MG_5826
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4713902130/in/photostream"} Oyster Bay, New York (#112565)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4573038675/in/photostream"} (#108818)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4539225401/in/photostream"} Joshua Tree (#90600)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4512013323/in/photostream"} A Paper Bag Story (#95752)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/4035393587/in/photostream"} IMG_91330
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3991099211/in/photostream"} (500) Bags of Summer (#95860)
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3904870763/in/photostream"} _MG_1854
		%li
			%a{:href => "http://www.flickr.com/photos/markjsebastian/3425397343/in/photostream"} Helena Hong (#78898)
	%h3 Support and Updates
	%p
		Feel free to contact me at any time if you have questions by using the contact form of my
		= succeed "." do
			%a{:href => "http://codecanyon.net/user/Pixelworkshop"} profile page
		Please keep in mind that once purchased, I provide support for free but customizations are a paid service (adding some functionnality, tweaking the menu, etc.). Support questions sent via any other way won't be answered.
	%p I try to regularly update my products based on the feedback I receive, so if you find any kind of bug, I'll do my best to update the menu as soon as possible. If you have an idea that could improve it, feel also free to ask me, some customization questions happened to be the starting point of an update.
	%ul
		%li
			%a{:href => "http://pixelworkshop.fr/"} Pixelworkshop Site
		%li
			%a{:href => "http://blog.pixelworkshop.fr/"} Pixelworkshop - Blog
		%li
			%a{:href => "http://twitter.com/pixlworkshop"} Pixelworkshop on Twitter
	%p Thanks for reading !
	%p
		%strong
			%em Pixelworkshop
