%li
	%span.drop Misc Elements
	/ Begin Item
	.megamenu_fullwidth.megamenu_scrollbars
		/ Begin Item Container
		.megamenu_scroller_container
			/ Begin Scroller Container
			.megamenu_scroll_area
				/ Begin Scrolling Area
				.col_6
					%h3 Youtube Video
					%iframe{:height => "253", :src => "http://www.youtube.com/embed/0mtLe03kyuE?wmode=transparent", :width => "450"}
				.col_6
					%h3 Vimeo Video
					%iframe{:height => "253", :src => "http://player.vimeo.com/video/20174757?title=0&byline=0&portrait=0", :width => "450"}
				.clear
				.col_6
					%h3 Basic Tables
					%table.table_light
						%tr
							%th Title 1
							%th Title 2
							%th Title 3
							%th Title 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
					%table.table_dark
						%tr
							%th Title 1
							%th Title 2
							%th Title 3
							%th Title 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
				.col_6
					%h3 Images
					%p Nullam ultricies semper erat in lacinia. In ac tellus vitae orci tristique hendrerit sed sit amet lectus. Vivamus dapibus mattis diam, vitae imperdiet nunc vehicula in. Maecenas quam mauris, convallis sit amet varius ut, pretium a enim. Maecenas quis nisl quis ante dictum vehicula at nec nunc.
					%p Morbi eget sem nec felis condimentum posuere. Curabitur in leo mi, eget mollis nunc. Morbi enim sapien, dictum ac mollis nec. There are many variations of passages of Lorem Ipsum available.
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
					.col_2
						%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
					.clear
					%p By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
			/ End Scrolling Area
		/ End Scroller Container
	/ End Item Container
/ End Item
%li
	%span.drop Misc Elements
	/ Begin Item
	.megamenu_fullwidth.megamenu_scrollbars
		/ Begin Item Container
		.megamenu_scroller_container
			/ Begin Scroller Container
			.megamenu_scroll_area
				/ Begin Scrolling Area
				.col_6
					%h3 Youtube Video
					%iframe{:height => "253", :src => "http://www.youtube.com/embed/0mtLe03kyuE?wmode=transparent", :width => "450"}
				.col_6
					%h3 Vimeo Video
					%iframe{:height => "253", :src => "http://player.vimeo.com/video/20174757?title=0&byline=0&portrait=0", :width => "450"}
				.clear
				.col_6
					%h3 Basic Tables
					%table.table_light
						%tr
							%th Title 1
							%th Title 2
							%th Title 3
							%th Title 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
					%table.table_dark
						%tr
							%th Title 1
							%th Title 2
							%th Title 3
							%th Title 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
						%tr
							%td Cell 1
							%td Cell 2
							%td Cell 3
							%td Cell 4
				.col_6
					%h3 Images
					%p Nullam ultricies semper erat in lacinia. In ac tellus vitae orci tristique hendrerit sed sit amet lectus. Vivamus dapibus mattis diam, vitae imperdiet nunc vehicula in. Maecenas quam mauris, convallis sit amet varius ut, pretium a enim. Maecenas quis nisl quis ante dictum vehicula at nec nunc.
					%p Morbi eget sem nec felis condimentum posuere. Curabitur in leo mi, eget mollis nunc. Morbi enim sapien, dictum ac mollis nec. There are many variations of passages of Lorem Ipsum available.
					.col_2.col_nomargin_left
						%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
					.col_2
						%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
					.col_2.col_nomargin_right
						%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
					.clear
					%p By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
			/ End Scrolling Area
		/ End Scroller Container
	/ End Item Container
/ End Item
