%li
	%span.drop Miscellaneous
	/ Begin Item
	.megamenu_fullwidth
		/ Begin Item Container
		#megamenu_tabs_02.megamenu_tabs
			/ Begin Tabs Container
			%ul.megamenu_tabs_nav
				%li
					%a.current{:href => "#section11"} Products
				%li
					%a{:href => "#section12"} Services
				%li
					%a{:href => "#section13"} Typography
				%li
					%a{:href => "#section14"} HTML Elements
			.clear
			.megamenu_tabs_panels
				/ Begin Panels Container
				#section11
					/ Begin Section 1
					.col_6
						%h2 This is a product sample
						%p It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
						%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
						%p
							It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
							%a{:href => "#"} Letraset sheets
							containing Lorem Ipsum.
					.col_6
						%img{:alt => "", :src => "products/img_product01.jpg"}/
					.clear
					.col_6
						%h2 Another sample
						%p
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
							= succeed "," do
								%a{:href => "#"} since the 1500s
							when an unknown printer took a galley of type...
						%p
							It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
							%a{:href => "#"} Letraset sheets
							containing Lorem Ipsum.
						%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					.col_6
						%img{:alt => "", :src => "products/img_product02.jpg"}/
				/ End Section 1
				#section12.megamenu_tabs_hide
					/ Begin Section 2
					.col_8
						%h3 Our service
						%p
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
							= succeed "," do
								%a{:href => "#"} since the 1500s
							when an unknown printer took a galley of type... It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
						%p
							It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
							%a{:href => "#"} Letraset sheets
							containing Lorem Ipsum.
					.col_4
						%img{:alt => "", :src => "products/img_service01.jpg"}/
					.clear
					.col_8
						%h3 Service Illustration
						%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
						%p
							It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
							%a{:href => "#"} Letraset sheets
							containing Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
					.col_4
						%img{:alt => "", :src => "products/img_service01.jpg"}/
				/ End Section 2
				#section13.megamenu_tabs_hide
					/ Begin Section 3
					.col_8
						%h3 Unordered and Ordered Lists
						%ul
							%li First unordered list item with some lorem ipsum text to fill the space. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							%li Second unordered list item. Vivamus tempus egestas lorem, ac adipiscing purus varius et. Nunc ac posuere urna. Vestibulum ante ipsum primis in faucibus orci luctus
							%li Third unordered list item. Etiam sagittis feugiat eros, vel congue purus porttitor ut. Donec vestibulum ligula et enim elementum volutpat. Vivamus tellus mi.
						%ol
							%li First ordered list item with some lorem ipsum text to fill the space. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
							%li Second ordered list item. Vivamus tempus egestas lorem, ac adipiscing purus varius et. Nunc ac posuere urna. Vestibulum ante ipsum primis in faucibus orci luctus
							%li Third ordered list item. Etiam sagittis feugiat eros, vel congue purus porttitor ut. Donec vestibulum ligula et enim elementum volutpat. Vivamus tellus mi.
					.col_4
						%h3 Paragraphs with Icons
						%p.calendar This is a paragraph with a calendar icon. Curabitur lorem nulla, imperdiet.
						%p.note This is a paragraph with a note icon. Praesent id nulla eu risus rhoncus.
						%p.archive This is a paragraph with a archive icon. Ut pulvinar mauris at nunc.
						%p.search This is a paragraph with a search icon. Nulla tincidunt, purus at luctus.
						%p.help This is a paragraph with a help icon. Vestibulum venenatis diam sit amet.
				/ End Section 3
				#section14.megamenu_tabs_hide
					/ Begin Section 4
					.col_8
						%h3 Paragraphs with Borders
						%p.dark Nulla quis metus a dolor feugiat porta. Phasellus sapien magna, gravida congue fermentum vel, gravida sit amet sapien. Quisque elit est, ullamcorper ac hendrerit eget, porta id enim. Phasellus in velit velit.
						%p.brown Praesent a dolor sem. Sed scelerisque, tellus id pulvinar tristique, erat eros rutrum mi, id adipiscing arcu sem vel est. Ut ac turpis ipsum. Mauris leo nulla, vestibulum id bibendum nec, auctor eu quam.
						%p.yellow Nulla quis metus a dolor feugiat porta. Phasellus sapien magna, gravida congue fermentum vel, gravida sit amet sapien. Quisque elit est, ullamcorper ac hendrerit eget, porta id enim. Phasellus in velit velit.
						%p.red Curabitur vulputate, massa sit amet mollis sodales, arcu quam scelerisque augue, ac elementum velit mauris ac tellus. Nunc dapibus mollis ante a sollicitudin. Nullam adipiscing ante.
						%p.blue Quisque varius, erat nec fermentum aliquam, erat urna venenatis orci, in semper lorem ante at dolor. Quisque scelerisque mattis magna ut lobortis. Cras porttitor scelerisque ligula eget condimentum.
						%p.green Vestibulum sed elit ut arcu. Donec leo dui, mollis ut volutpat et, suscipit a mauris. Etiam molestie, purus id dapibus volutpat, nunc nisl ornare odio, sit amet ornare. Maecenas rutrum venenatis diam ac luctus.
					.col_4
						%h3 Paragraphs with Icons
						%p.favorite This is a paragraph with a favorite icon. Donec tortor sem, venenatis.
						%p.lock This is a paragraph with a lock icon. Vivamus eu felis lacus, in tincidunt.
						%p.briefcase This is a paragraph with a briefcase icon. Cras sagittis, tortor at.
						%p.user This is a paragraph with a user icon. Mauris quis augue lectus, eget congue.
						%p.black_bg This is a simple paragraph contained in a box with a dark background. It can be used to highlight some texts. Nulla tincidunt, purus at luctus eu felis lacus, in tincidunt.
				/ End Section 4
			/ End Panels Container
		/ End Tabs Container
	/ End Item Container
/ End Item
