%li
	%span.drop Panels
	/ Begin Item
	.megamenu_fullwidth
		/ Begin Item Container
		#megamenu_tabs_01.megamenu_tabs
			/ Begin Tabs Container
			%ul.megamenu_tabs_nav
				%li
					%a.current{:href => "#section1"} Section 1
				%li
					%a{:href => "#section2"} Section 2
				%li
					%a{:href => "#section3"} Section 3
				%li
					%a{:href => "#section4"} Section 4
			.clear
			.megamenu_tabs_panels
				/ Begin Panels Container
				#section1
					/ Begin Section 1
					%ul.img_list
						%li
							%img{:alt => "", :src => "products/thumbnail01.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail02.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail03.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail04.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail05.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail06.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail07.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail08.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail09.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail10.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail11.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail12.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail13.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail14.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail15.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail16.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail17.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail18.jpg"}/
				/ End Section 1
				#section2.megamenu_tabs_hide
					/ Begin Section 2
					%ul.img_list
						%li
							%img{:alt => "", :src => "products/thumbnail11.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail12.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail10.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail07.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail09.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail08.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail06.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail04.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail05.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail03.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail01.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail02.jpg"}/
				/ End Section 2
				#section3.megamenu_tabs_hide
					/ Begin Section 3
					%ul.img_list
						%li
							%img{:alt => "", :src => "products/thumbnail18.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail16.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail17.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail14.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail13.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail15.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail08.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail09.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail07.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail13.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail11.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail12.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail02.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail03.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail05.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail04.jpg"}/
				/ End Section 3
				#section4.megamenu_tabs_hide
					/ Begin Section 4
					%ul.img_list
						%li
							%img{:alt => "", :src => "products/thumbnail02.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail01.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail03.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail04.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail06.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail05.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail11.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail15.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail12.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail13.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail11.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail12.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail02.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail03.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail05.jpg"}/
						%li
							%img{:alt => "", :src => "products/thumbnail04.jpg"}/
				/ End Section 4
			/ End Panels Container
		/ End Tabs Container
	/ End Item Container
/ End Item

