%li
	%span.drop Typography
	/ Begin Item
	.megamenu_fullwidth
		/ Begin Item Container
		.col_8
			%h1 This is a Heading H1
			%p
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
				= succeed "," do
					%a{:href => "#"} since the 1500s
				when an unknown printer took a galley of type...
			%h2 This is a Heading H2
			%p It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words.
			%h3 This is a Heading H3
			%p
				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
				%a{:href => "#"} Letraset sheets
				containing Lorem Ipsum.
			%h4 This is a Heading H4
			%p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
			%h5 This is a Heading H5
			%p It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition.
			%h6 This is a Heading H6
			%p The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
		.col_4
			%h4 Products
			.col_2.col_nomargin_left
				%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
			.col_2.col_nomargin_right
				%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
			.clear
			.col_2.col_nomargin_left
				%img{:alt => "", :src => "img/products/thumbnail03.jpg"}/
			.col_2.col_nomargin_right
				%img{:alt => "", :src => "img/products/thumbnail04.jpg"}/
			.clear
			%h4 Services
			.col_2.col_nomargin_left
				%img{:alt => "", :src => "img/products/thumbnail05.jpg"}/
			.col_2.col_nomargin_right
				%img{:alt => "", :src => "img/products/thumbnail06.jpg"}/
			.clear
			.col_2.col_nomargin_left
				%img{:alt => "", :src => "img/products/thumbnail02.jpg"}/
			.col_2.col_nomargin_right
				%img{:alt => "", :src => "img/products/thumbnail01.jpg"}/
	/ End Item Container
/ End Item
