$mb-bg-image: url(images/bg_black.png);
$mb-bg-color: hsl(0, 0, 13);

$background-hdr-image: url(images/bg_mega_hdr.png);
$background-hdr-color: #6b6b6b;

$border-color: #1B1B1B;

$subcontainer-color: rgb(204, 204, 204);
$hover-color: rgb(153, 153, 153);
$text-shadow-color: #333;
