$hover-color: hsl(211,29,74);
$border-color: hsl(211,16,39);

$background-hdr-image: url(images/bg_mega_hdr.png);
$background-hdr-color: hsl(211, 41, 32);
$mb-bg-image: url(images/bg_blue.png);
$mb-bg-color: hsl($hue, 27, 46);

$subcontainer-color: hsl(0, 0, 80);
$text-shadow-color: #000;
