$hue: 215;
$style: "dark";

$mb-bg-image: url(images/bg_blue.png);
$mb-bg-color: hsl($hue, 27, 46);
//$mb-hover-bg-color: hsl($hue, 40, 30);

$bg-hdr-color: hsl($hue, 80, 32);

$item-hover-color: hsl(12, 96, 33);

$hdr-hover-color: hsl($hue, 30, 80);
$hdr-bg-color: hsl($hue, 40, 30);
