// Defaults that can be overridden in a skin
$base-font-size: 13px;
$font-size: 1em;
$font: Arial, sans-serif;
$line-height: 125%;

$mb-text-color: hsl(0, 0, 100);
$mb-text-shadow: hsl(0, 0, 0);
$mb-hover-text-color: hsl(0, 0, 0);

$mb-icon-image: url(images/arrow.png);
$mb-height: 40px;
$mb-hover-position: -40px;
$mb-background-color: #222;
$mb-weight: bold;

$mb-hover-bg-color: hsla(0, 0, 20, 0.5);
$mb-selected-bg-color: hsla(0, 0, 20, 0.5);

$border-color: hsl(0, 0, 11);
$menu-text-color: hsl(0, 0, 7);

$item-color: hsl(0, 0, 100);
$item-hover-bg: hsl(0, 0, 94);
$item-shadow: 1px 1px 1px hsl(0, 0, 20);

$submenu-bg-image: url(images/bg_sub_left.png);
$background-hdr-image: url(images/bg_mega_hdr.png);

$hdr-color: hsl(0, 0, 100);
$hdr-hover-color: hsl(0, 0, 80);
$hdr-bg-color: hsl(0, 0, 30);

$subcontainer-color: hsl(0, 0, 80);
$style: "dark";
