$hue: 74;
$dark: true;

$mb-bg-image: url(images/bg_green.png);
$mb-bg-color: hsl($hue, 74, 45);
$hover-color: hsl($hue, 30, 60);
$mb-hover-bg-color: hsla($hue, 30, 60, 0.3);

$bg-hdr-color: hsl($hue, 60, 30);

$border-color: hsl($hue, 90, 42);

$mb-text-color: hsl(0, 0, 0);
$mb-text-shadow: none;
$mb-weight: normal;

$item-color: hsl(0, 0, 100);
$item-hover-color: hsl(12, 96, 33);
$item-hover-bg: hsl(0, 0, 80);

$hdr-color: hsl(0, 0, 0);
$hdr-hover-color: hsl(0, 0, 0);
$hdr-bg-color: $mb-bg-color;
