body {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0; 
}

@import 'menu-settings';

// Defaults that can be overridden in a skin
$base-font-size: 13px;
$font-size: 1em;
$font: Arial, sans-serif;
$line-height: 16px;
$menubar-text-color: hsl(0,0,100);
$menubar-hover-text-color: #000;
$mega-hover-text-color: #000;
$mega-hover-hover-color: hsl(0,0,0);
$mega-hover-hover-bg-color: #CCC;

$menubar-text-shadow: hsl(0,0,0);
$menubar-icon-image: url(images/arrow.png);
$menubar-height: 40px;
$menubar-hover-position: -40px;
$subcontainer-image: url(images/bg_sub_left.png);
$menubar-background-color: #222;
$menubar-hover-bg-color: hsl(0,0,60);

//@import 'black';
@import 'blue';
//@import 'red';
//@import 'orange';
//@import 'green';
//@import 'grey';
//@import 'white';

.hmenu {
  ul {
	 list-style: none;
	 li {
		list-style: none;
		ul {
			display: none; 
			}
		}
	 position: relative;
	 padding: 0;
	 margin: 0; 
	}
  .sub {
	 display: none;
	 ul {
		display: block; 
		}
	}
}

#menubar {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;

  background: $background-color $menubar-background-image repeat-x 0 -80px;
  height: $menubar-height;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  position: relative;
  font: normal $base-font-size $font;
	line-height: $line-height;

  .sub ul {
    display: block; 
	}
  li {
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-weight: bold;
		// ul.hmenu li a
    a {
      float: left;
      display: block;
      color: $menubar-text-color;
      padding: 12px 38px 12px 25px;
      background: $menubar-background-color $menubar-background-image repeat-x 100% 0;
      text-shadow: 1px 1px 1px $menubar-text-shadow;
      text-decoration: none;
    &.mega {
        position: relative;
			}
			
      .mbar-icon {
        display: block;
        position: absolute;
        top: 18px;
        right: 15px;
        width: 8px;
        height: 6px;
        background: $menubar-icon-image no-repeat 0 0;
			}
		}
 		.mega-hover a:hover {
      background-position: 0 100%;
      background: $mega-hover-hover-bg-color;
      color: $mega-hover-hover-color; 
		}
   &.mega-hover a {
      background-position: 100% $menubar-hover-position;
      color: $mega-hover-text-color;
      text-shadow: none;
 		}
		a:hover {
      background-position: 100% $menubar-hover-position;
      background: $menubar-hover-bg-color;
      color: $menubar-hover-text-color;
      text-shadow: none;
		}
    
    &.mega-hover a .mbar-icon {
      background-position: 0 100%; 
		}
    .submenu {
      position: absolute;
      background: $subcontainer-image no-repeat 0 100%;
      padding-left: 20px;
      margin-left: -3px; 
		}
    .sub {
      background: url(images/bg_sub.png) no-repeat 100% 100%;
      padding: 20px 20px 20px 10px; 
		}
    .submenu.mega .sub {
      padding: 20px 20px 10px 0; 
		}
    .sub {
      .row {
        width: 100%;
        overflow: hidden;
        clear: both; 
			}
      li {
        list-style: none;
        float: none;
        width: 170px;
        font-size: 1em;
        font-weight: normal;
        &.hmenu-hdr {
          margin: 0 10px 10px 0;
          float: left;
          &.last {
            margin-right: 0; 
					}
				}
			}
	    a {
	      background: none;
	      border: none;
	      text-shadow: none;
	      color: $menu-text-color;
	      padding: 7px 10px;
	      display: block;
	      float: none;
	      text-decoration: none;
	      font-size: 1em; 
			}
      li.hmenu-hdr a.hmenu-hdr-a {
        padding: 5px 5px 5px 15px;
        margin-bottom: 5px;
        background: $subcontainer-color url(images/bg_mega_hdr.png) no-repeat 0 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $item-color;
        text-shadow: 1px 1px 1px $item-shadow-color;
        &:hover {
          color: #000;
          text-shadow: none; 
				}
			}
		}
	}

  .sub {
    li.hmenu-hdr li a {
      padding: 4px 5px 4px 20px;
      background: url(images/arrow_off.png) no-repeat 5px 8px;
      font-weight: normal;
      &:hover {
        color: $item-hover-color;
        background: $item-hover-bg url(images/arrow_on.png) no-repeat 5px 8px; 
			}
		}
    ul li {
      padding-right: 0; 
		}
	}
  li .submenu.non-mega {
    .sub {
      padding: 20px 20px 20px 0; 
		}
    li {
      padding: 0;
      width: 190px;
      margin: 0;
      a {
        padding: 7px 5px 7px 22px;
        background: url(images/arrow_off.png) no-repeat 7px 10px;
        &:hover {
          color: $item-hover-color;
          background: $item-hover-bg url(images/arrow_on.png) no-repeat 7px 10px; 
				}
			}
		}
	}
}
